.body{
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin: auto;
  background-color: bisque;
  
}



.main{
  background-color: rgb(44, 43, 43);
  width: 25em;
  height: 33em;
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin: auto;
  color:white ;
  padding: 16px;
  border: 0.5px solid black;
 box-shadow:0 4px 8px 0 rgb(0, 0, 0), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
 outline: 100em solid rgba(0, 0, 0, 0.61);
}

.search{
  padding: 1%;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  vertical-align: super;
  box-sizing: border-box;
}

.searchimg{
  width:7%;
  box-sizing: border-box;
 
  position: absolute;
  right: 15px; 
  top: 15px;
}
.cityname{
  font-size: 210%;
  margin-bottom: 0px;
 margin-left: -7%;
}

.temp{
  font-size: 270%;
  vertical-align: super;
  margin-left: -7%;

  
}
.image{
margin-right: 3%;
  width:35%;
  float:right;
}


.maxmin{
 float: left;
 width:50%;
 box-sizing: border-box;
 text-align: center;
}

.maxminh1{
  margin: 0%;
  padding: 0%;
}

.tablecontainer{
  /* background-color: brown; */
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  
}

.tablecontainer::-webkit-scrollbar{
display: none;
}

table,tr,td{
  width: 100%;
  text-align: center;
  border-bottom: 3px solid rgb(44, 43, 43);
  border-collapse: collapse;
 background-color: rgb(36, 35, 35);

  
}

tr:nth-child(even){
  background-color: rgb(44, 43, 43);
}

/* tr{
  width:100%;
  text-align: center;
  


} */

td{
  width:50%;
  text-align: center;
  margin: 0px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 819px) {
.main{
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
}
.searchimg{
  top: 15px;
}

}